.first-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(225, 143, 11);
  border-radius: 20px;
  padding: 15px;
  color: #000;
  box-sizing: border-box;
  margin-top: 5px;
}

.first-block:hover {
  color: #fff;
}

.first-block h2 {
  font-size: 1.8em;
}

.first-block p {
  font-size: 1.2em;
}

.first-block img {
  max-width: 280px;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 720px) {
  .first-block {
    border-radius: 16px;
    padding: 35px 16px;
  }
  .first-block img {
    max-width: 250px;
  }
}

@media (max-width: 540px) {
  .first-block {
    border-radius: 12px;
    padding: 16px 20px;
    width: 100%;
    margin: 0 auto;
  }
  .first-block {
    margin-top: -12px;
  }
  .first-block h2 {
    text-align: left;
    font-size: 1.4em;
  }
  .first-block > img {
    max-width: 150px;
  }
}

@media (max-width: 360px) {
  .first-block {
    border-radius: 10px;
    padding: 14px;
  }
  .first-block h2 {
    font-size: 1.2em;
  }
}
