header {
  background-color: rgb(243, 231, 5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.logo {
  font-size: 1.5em;
}
.search {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #222;
  outline: none;
}
.search:focus {
  border-bottom-color: #fff;
}
.menu {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-right: 78px;
  /* padding: 0 calc(50% - 60px); */
}
